<h1>Vacations</h1>
{{#each vacations}}
<div class="vacation">
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    {{#if inSeason}}
    <span class="price">{{price}}</span>
    <a href="/cart/add?sku={{sku}}" class="btn btn-default">Buy Now!</a>
    {{else}}
    <span class="outOfSeason">Hello world!
        {{/if}}
</div>
{{/each}}
